<% project.taskID.forEach((task)=>{ %>
    <%= task %>
    <% if(task.priority == i){ %> 
        <div class="col-sm-12 task">
            <div class="task">
                <div class="move col-xs-1 col-sm-1 col-md-1"><i class="fa fa-arrows" aria-hidden="true"></i></div>
                <strong class="task-code col-xs-1 col-sm-1 col-md-1" style="border:1px solid #ff5252;color:#ff5252"><%= task.project %></strong>  
                <input id="<%= task._id %>" class="<% if(task.done === true){%>line-through<% }%> task-name col-xs-8 col-sm-8 col-md-8" name ="taskname" type="text" value="<%= task.taskname %>">
                <div class="update-buttons col-xs-2 col-sm-2 col-md-2">
                    <button class="task-btn check-task" data-taskID="<%= task._id %>" data-taskName="<%= task.taskname %>"><i class="fa fa-check" aria-hidden="true"></i></button>
                    <form method="post" action="/dashboard/tasks/delete/<%= task._id %>">
                            <button class="task-btn delete-task" type="submit" ><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    <%  } %>
<% }) %>